/* external css */
h2 {
	color: green;
	font-size: 36pt;
	background-color: grey;
	min-height: 1px;
}
p span {font-size: 200%;
		color:brown;}
span {font-size: 50%;}
h4,span, a{color:green;}